* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

section#menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 80px; }
  section#menu .menu-container {
    background-color: #FFE1EF;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    max-width: 1200px; }
    @media only screen and (min-width: 1024px) {
      section#menu .menu-container {
        display: flex;
        justify-content: space-between; } }
    @media only screen and (min-width: 1024px) {
      section#menu .menu-container .menu-left {
        width: 40%; } }
    @media only screen and (min-width: 1024px) {
      section#menu .menu-container .menu-right {
        width: 50%; } }
    section#menu .menu-container h2 {
      position: absolute;
      top: -30px;
      font-size: 40px;
      width: 100%;
      text-align: center;
      left: 0; }
      @media only screen and (min-width: 1024px) {
        section#menu .menu-container h2 {
          font-size: 4rem;
          top: -50px; } }
    section#menu .menu-container h3 {
      color: #A86081;
      font-size: 25px;
      margin-bottom: 10px; }
      @media only screen and (min-width: 1024px) {
        section#menu .menu-container h3 {
          font-size: 2.5rem; } }
    section#menu .menu-container .menu-content {
      display: flex;
      flex-wrap: wrap;
      color: #A86081;
      margin-bottom: 10px; }
      section#menu .menu-container .menu-content div:first-of-type {
        border-top: 5px dotted #A86081;
        flex: 1;
        top: 8px;
        position: relative;
        margin: 0 10px; }
      section#menu .menu-container .menu-content div:nth-of-type(2) {
        display: flex;
        flex: 100%; }
        section#menu .menu-container .menu-content div:nth-of-type(2) div {
          border-top: 5px dotted #A86081;
          flex: 1;
          top: 8px;
          position: relative;
          margin: 0 10px; }
      section#menu .menu-container .menu-content p.subtext {
        flex: 100%; }

#news div.news-container {
  max-width: 1200px;
  margin: auto; }
  @media only screen and (min-width: 768px) {
    #news div.news-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; } }
  #news div.news-container article {
    width: 90%;
    background: #FFE1EF;
    border-radius: 15px;
    margin: 0 auto 50px auto;
    text-align: left;
    max-width: 500px; }
    @media only screen and (min-width: 768px) {
      #news div.news-container article {
        width: 35%;
        margin: 0 10% 50px 0;
        max-width: none; } }
    @media only screen and (min-width: 1024px) {
      #news div.news-container article {
        width: 30%; } }
    @media only screen and (min-width: 768px) {
      #news div.news-container article:nth-of-type(even) {
        margin-right: 0; } }
    @media only screen and (min-width: 1024px) {
      #news div.news-container article:nth-of-type(n + 1) {
        margin-right: 4.5%; } }
    @media only screen and (min-width: 1024px) {
      #news div.news-container article:last-of-type {
        margin-right: 0; } }
    @media only screen and (min-width: 1024px) {
      #news div.news-container article:first-of-type {
        width: 100%;
        margin-right: 0;
        display: flex; } }
    @media only screen and (min-width: 1024px) {
      #news div.news-container article:first-of-type img {
        width: 40%;
        border-radius: 15px 0 0 15px; } }
    #news div.news-container article img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
      @media only screen and (min-width: 600px) {
        #news div.news-container article img {
          height: 200px; } }
    #news div.news-container article div.news-text {
      padding: 10px; }
      #news div.news-container article div.news-text h4.title {
        color: #62998F;
        font-size: 20px; }
        @media only screen and (min-width: 1024px) {
          #news div.news-container article div.news-text h4.title {
            font-size: 30px; } }
      #news div.news-container article div.news-text h5.date {
        color: #62998F;
        font-size: 16px;
        margin-bottom: 5px; }
        @media only screen and (min-width: 1024px) {
          #news div.news-container article div.news-text h5.date {
            font-size: 26px; } }
      #news div.news-container article div.news-text p {
        color: #A86081;
        font-size: 14px; }
        @media only screen and (min-width: 1024px) {
          #news div.news-container article div.news-text p {
            font-size: 20px; } }
      #news div.news-container article div.news-text a {
        color: #A86081;
        text-decoration: underline;
        font-weight: 900;
        font-size: 14px; }
        @media only screen and (min-width: 1024px) {
          #news div.news-container article div.news-text a {
            font-size: 20px; } }

body {
  font-family: Roboto;
  font-weight: 400;
  color: #FFF; }
  @media only screen and (min-width: 600px) {
    body {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 1024px) {
    body {
      font-size: 2rem; } }
  body a {
    text-decoration: none; }
  body header {
    background: url("../imgs/headercupcake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center 75%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 2%; }
    @media only screen and (min-width: 600px) {
      body header {
        height: 40vh; } }
    @media only screen and (min-width: 1024px) {
      body header {
        background-position: 50%; } }
    body header div img.logo {
      width: 100%; }
      @media only screen and (min-width: 600px) {
        body header div img.logo {
          width: 150px; } }
    body header div.logocontainer {
      flex: 25%; }
    body header div.icons {
      flex: 75%;
      text-align: right; }
      body header div.icons i {
        display: inline;
        font-size: 6vw;
        color: #62998F;
        padding-right: 10px; }
        @media only screen and (min-width: 600px) {
          body header div.icons i {
            font-size: 40px; } }
  body .navbar {
    font-size: 18px;
    background-color: #62998F;
    padding-top: 50px;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0px 15px 15px 0px rgba(165, 99, 129, 0.71);
    -moz-box-shadow: 0px 15px 15px 0px rgba(165, 99, 129, 0.71);
    box-shadow: 0px 15px 15px 0px rgba(165, 99, 129, 0.71); }
    @media screen and (min-width: 768px) {
      body .navbar {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        align-items: center;
        padding-top: 0; } }
    body .navbar .navbar-toggle {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: #9AD8CC;
      font-size: 20px; }
      @media only screen and (min-width: 768px) {
        body .navbar .navbar-toggle {
          display: none; } }
    body .navbar .main-nav {
      list-style-type: none;
      display: none;
      padding-bottom: 20px;
      max-width: 1200px; }
      @media only screen and (min-width: 768px) {
        body .navbar .main-nav {
          display: flex;
          flex: 15%;
          flex-direction: row;
          justify-content: space-around;
          padding-bottom: 0;
          padding: 10px; } }
      body .navbar .main-nav.active {
        display: block; }
      body .navbar .main-nav li {
        text-align: center;
        padding: 5px 0;
        text-transform: lowercase; }
        @media only screen and (min-width: 768px) {
          body .navbar .main-nav li {
            margin: 0;
            font-size: 1.5rem; } }
        body .navbar .main-nav li a {
          color: #FFF; }
          body .navbar .main-nav li a:hover {
            color: #9AD8CC; }
  body section {
    background-color: #F4BAD2;
    padding: 40px 20px;
    text-align: center; }
    @media only screen and (min-width: 1024px) {
      body section {
        text-align: left; } }
    body section:first-of-type {
      padding-top: 50px; }
    @media only screen and (min-width: 1024px) {
      body section#about article.text-flex {
        width: 800px; } }
    @media only screen and (min-width: 1024px) {
      body section#contact article.text-flex {
        order: 2; } }
    @media only screen and (min-width: 1024px) {
      body section#contact article.img-flex {
        order: 1; } }
    body section#story {
      text-align: center;
      padding: 50px 20px; }
      @media only screen and (min-width: 768px) {
        body section#story {
          padding: 100px 20px; } }
    body section div.half-flex {
      max-width: 1200px;
      margin: auto; }
      body section div.half-flex article.text-flex {
        padding: 5%; }
      body section div.half-flex article.img-flex {
        padding: 5%; }
        @media only screen and (min-width: 1024px) {
          body section div.half-flex article.img-flex .polaroid {
            background-color: #FFF;
            padding: 20px 20px 60px 20px;
            height: 380px;
            width: 340px; } }
        body section div.half-flex article.img-flex .polaroid img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          margin-top: 20px; }
          body section div.half-flex article.img-flex .polaroid img.cake {
            object-position: center 20%; }
          body section div.half-flex article.img-flex .polaroid img.cafe {
            object-position: center 70%; }
          @media only screen and (min-width: 500px) {
            body section div.half-flex article.img-flex .polaroid img {
              height: 350px; } }
          @media only screen and (min-width: 1024px) {
            body section div.half-flex article.img-flex .polaroid img {
              width: 300px;
              height: 300px;
              margin-top: 0; } }
      @media only screen and (min-width: 1024px) {
        body section div.half-flex {
          display: flex;
          justify-content: center; } }
    body section h2 {
      font-weight: 900;
      color: #62998F; }
    body section i {
      color: #62998F;
      font-size: 5vw;
      padding-right: 5px; }
      @media only screen and (min-width: 600px) {
        body section i {
          font-size: 40px; } }
    body section address {
      margin-bottom: 10px;
      font-style: normal; }
    body section .social-container i, body section .social-container p {
      display: inline; }
  body #parallax-1 {
    background: url("../imgs/parallax-1.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (min-width: 1024px) {
      body #parallax-1 {
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; } }
  body #parallax-2 {
    background: url("../imgs/parallax-2.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (min-width: 1024px) {
      body #parallax-2 {
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; } }
  body #parallax-3 {
    background: url("../imgs/parallax-3.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (min-width: 1024px) {
      body #parallax-3 {
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; } }
  body #parallax-4 {
    background: url("../imgs/parallax-4.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (min-width: 1024px) {
      body #parallax-4 {
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; } }
  body footer {
    background-color: #62998F;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    padding: 10px; }
    @media only screen and (min-width: 600px) {
      body footer {
        min-height: 200px; } }
    body footer .footer-right {
      flex: 10%;
      align-self: center; }
    body footer .footer-left {
      flex: 10%;
      align-self: flex-end; }
      body footer .footer-left img.logo {
        width: 70%; }
        @media only screen and (min-width: 600px) {
          body footer .footer-left img.logo {
            width: 200px; } }
    body footer i {
      color: #9AD8CC;
      text-align: right;
      font-size: 20px;
      padding-bottom: 7px; }
      @media only screen and (min-width: 600px) {
        body footer i {
          font-size: 40px; } }
    body footer .fa, body footer .fab, body footer .fad, body footer .fal, body footer .far, body footer .fas {
      display: block; }
