* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: Roboto;
  font-weight: 400;
  color: #FFF; }
  body a {
    text-decoration: none; }
  body header {
    background: url("../imgs/headercupcake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center 75%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 2%; }
    body header div img.logo {
      width: 100%; }
    body header div.logocontainer {
      flex: 25%; }
    body header div.icons {
      flex: 75%;
      text-align: right; }
      body header div.icons i {
        display: inline;
        font-size: 6vw;
        color: #62998F;
        padding-right: 10px; }
  body .navbar {
    font-size: 18px;
    background-color: #62998F;
    padding-top: 50px;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0px 15px 16px 5px rgba(165, 99, 129, 0.71);
    -moz-box-shadow: 0px 15px 16px 5px rgba(165, 99, 129, 0.71);
    box-shadow: 0px 15px 16px 5px rgba(165, 99, 129, 0.71); }
    body .navbar .navbar-toggle {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: #9AD8CC;
      font-size: 20px; }
    body .navbar .main-nav {
      list-style-type: none;
      display: none;
      padding-bottom: 20px; }
      body .navbar .main-nav.active {
        display: block; }
      body .navbar .main-nav li {
        text-align: center;
        padding: 5px 0; }
        body .navbar .main-nav li a {
          color: #FFF; }
  body section {
    background-color: #F4BAD2;
    padding: 40px 20px;
    text-align: center; }
    body section:first-of-type {
      padding-top: 50px; }
    body section img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-top: 20px; }
    body section h2 {
      font-weight: 900;
      color: #62998F; }
    body section i {
      color: #62998F;
      font-size: 5vw;
      padding-right: 5px; }
    body section address {
      margin-bottom: 10px;
      font-style: normal; }
    body section .social-container i, body section .social-container p {
      display: inline; }
  body #parallax-1 {
    background: url("../imgs/parallax-1.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  body #parallax-2 {
    background: url("../imgs/parallax-2.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  body footer {
    background-color: #62998F;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 10px; }
    body footer .footer-right {
      flex: 10%; }
    body footer .footer-left {
      flex: 10%;
      align-self: flex-end; }
      body footer .footer-left img.logo {
        width: 70%; }
    body footer i {
      color: #9AD8CC;
      text-align: right;
      font-size: 20px;
      padding-bottom: 7px; }
    body footer .fa, body footer .fab, body footer .fad, body footer .fal, body footer .far, body footer .fas {
      display: block; }
