*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}


$font: Roboto;
$green:#62998F;
$greenlight: #9AD8CC; 
$white:#FFF;
$pink: #F4BAD2;
$bold: 900;
$normal:400;

@mixin background--image{
    background-repeat:no-repeat;
    background-size:cover;
}  

@mixin navbar--dropshadow{
    -webkit-box-shadow: 0px 15px 16px 5px rgba(165,99,129,0.71);
-moz-box-shadow: 0px 15px 16px 5px rgba(165,99,129,0.71);
box-shadow: 0px 15px 16px 5px rgba(165,99,129,0.71);
}

@mixin background--parallax{
    height:300px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family:$font;
    font-weight:$normal;
    color:$white;

    a{
        text-decoration:none;
    }

    header{

        background:url("../imgs/headercupcake.jpg");
        @include background--image;
        width:100%;
        background-position:center 75%;
        height:30vh;
        display:flex;
        justify-content:space-between;
        padding:2%;

        div img.logo{
            width:100%;
        }

        div.logocontainer{
            flex:25%;
        }
    
        div.icons{
            flex:75%;
            text-align:right;

            i{
                display:inline;
                font-size:6vw;
                color:$green;
                padding-right:10px;
            }

            
        }

        
    
    }

    .navbar {
        font-size: 18px;
        background-color:$green;
        padding-top:50px;
        position:relative;
        width:100%;
        @include navbar--dropshadow();
    
        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer; 
            color:$greenlight;
            font-size: 20px;
        }
    
        .main-nav {
            list-style-type: none;
            display:none;
            padding-bottom:20px;

            &.active{
                display:block;
            }
    
            li {
                text-align: center;
                padding: 5px 0;
    
                a{
                    color:$white;
                }
            }
        }
    }

    section{
        background-color:$pink;
        padding:40px 20px;
        text-align:center;

        &:first-of-type{
            padding-top:50px;
        }

        img{
            width:100%;
            height:200px;
            object-fit: cover;
            margin-top:20px;
        }

        h2{
            font-weight:$bold;
            color:$green;
        }

        i{
            color:$green;
            font-size:5vw;
            padding-right:5px;

        }

        address{
            margin-bottom:10px;
            font-style:normal;
        }

        .social-container i, .social-container p{
            display:inline;
        }
    }

    #parallax-1{
        background:url("../imgs/parallax-1.jpg");
        @include background--parallax();
    }

    #parallax-2{
        background:url("../imgs/parallax-2.jpg");
        @include background--parallax();
    }


    footer{
        background-color:$green;
        display:flex;
        justify-content:space-between;
        height:100px;
        padding:10px;

        .footer-right{
            flex:10%;
        }
    
        .footer-left{
            flex:10%;
            align-self:flex-end;


            img.logo{
                width:70%;
                
            }
    
        }

        i{
            color:$greenlight;
            text-align:right;
            font-size:20px;
            padding-bottom:7px;
        }

        .fa, .fab, .fad, .fal, .far, .fas{
            display:block;
        }
    }
 
}




